.eve{
    padding: 0 2rem;
    width: 100%;
    height: 100%;
    overflow-y: hidden;

    background-color: $every-default-bg;

    .text__appealing{
        color: $primary-colorete;
        display: unset;
    }

}

.ev{
    width: 90%;
    padding: 1rem;
}


header{

    width: 100%;
    height: 4rem;


    a{
        margin-right: 2rem;
        text-decoration: none;
        font-size: 0.8rem;

        &:hover{
            color: $primary-colorete;
        }
    }

    .toggleMenu{
        display: none;
    }

    .toggleButton{
        display: flex;
        place-items: center;
        text-align: center;
        background: none;
        padding: 0.5rem;
        font-size: 1.5rem;
        cursor: pointer;
        border-radius: 5px;
        border: none;
        transition: ease-in 0.1s;

        *{
            color: $primary-colorete;
        }

        &:active{
            border: 2px solid $primary-colorete;
        }
        &:hover{
            color: $primary-colorete;
        }
    }
}

.ab{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-top: 7rem;

}

.__abc{
    margin-top: 2rem;
    margin-left: 2rem;

    h1{
        margin-bottom: 2rem;
    }
}

.__stack{
    margin-top: 2rem;
    padding: 1rem 0;

    h3{
     text-align: start !important;
    }  
}

.item__container{

    display: flex;
    align-items: center;
    justify-content: start;
    width: 10rem;
    gap: 1rem;
    padding: 0.5rem;

    .__icon{
        fill: $primary-colorete;
    }
}

.__item{

    width: 80%;
    display: grid;
    place-items: end;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0.2rem;
}

.pjx{
    margin-top: 10rem;
    height: 100%;
    width: 100%;

    h1{
        margin-bottom: 2rem;
    }

    a{
        display: grid;
        place-items: end;
        text-align: end;
        text-decoration: none;
        font-size: 0.8rem;
        padding: 0 1rem;
        color: $primary-colorete;
    }

}

.proyek__ct{
    display: grid;
    place-items: start;
    padding: 0 2rem;
}

.proyek__ins{

    display: grid;
    padding: 1rem;
    width: 88%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.crd__ctx{

    padding: 0.8rem;
    border-radius: 5px;
    background: $project-background-dark;


    h1{
        font-size: 1.3rem;
        margin-bottom: 1rem;
        color: $primary-colorete;
    }

    p{
        font-size: 0.8rem;
        margin-bottom: 1rem;

    }

    .img__ctx{
        display: grid;
        place-items: center;
        margin-bottom: 1rem;

        border-radius: 10px;
        overflow: hidden;

        img{
            width: 100%;
            object-fit: contain;
        }
    }

    .__tags span{
        display: inline-block;
        border-radius: 2px;
        font-size: 0.8rem;
        padding: 2px;
        color: $primary-colorete;

        margin-left: 0.5rem;
    }

}

.blogs{
    height: 100%;
    margin-top: 5rem;

    h1{
        text-align: start !important;
        margin-bottom: 2rem;
    }
}


.bl__ct{
    width: 100%;
    padding: 0 5rem;
}

.bl__ctx{
    margin-bottom: 2rem;
    line-height: 1.4rem;

    a{
        font-size: 1rem;
        text-decoration: none;
        font-weight: 600;

        &:hover{
            color: $primary-colorete;
        }
    }
    p{
        font-size: 0.8rem;
    }

    span{
        font-size: 0.7rem;
    }
}

.contact{  

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 400px;

    a{
        color: $primary-colorete;
        cursor: pointer;
        text-decoration: none;
    }

    .ctx__btn{
        @extend %btn;
        
        font-size: 0.8rem;
    }
}

footer{
    font-size: 0.8rem;
    text-align: center;
}

