.eve{
    padding: 0 2rem;
    width: 100%;
    height: 100%;
    overflow-y: hidden;

    .text__appealing{
        color: $primary-colorete;
        display: unset;
    }

    border: 1px solid pink;
}

.ev{
    width: 90%;
    padding: 1rem;

    // border: 1px solid aqua;
}


header{

    width: 100%;
    height: 4rem;

    border: 1px solid pink;

    a{
        margin-right: 2rem;
        text-decoration: none;
        font-size: 0.8rem;

        &:hover{
            color: $primary-colorete;
        }
    }

    .header__menu{
        display: none;
    }

    button{

        display: flex;
        place-items: center;
        text-align: center;
        background: none;
        padding: 0.5rem;
        font-size: 1.5rem;
        cursor: pointer;
        border-radius: 5px;
        border: none;
        transition: ease-in 0.1s;

        &:active{
            border: 2px solid $primary-colorete;
        }
        &:hover{
            color: $primary-colorete;
        }
    }
}

.ab{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;

    border: 1px solid aqua;
}

.__abc{
    width: 100%;
    margin-top: 7rem;


    border: 1px solid orange;

    h1{
        margin-bottom: 2rem;
    }

    .__stack{
        margin-top: 2rem;
        padding: 1rem 0;

        // border: 1px solid red;

        h3{
            text-align: start !important;
        }
        
        .__item{

            width: 80%;
            display: grid;
            place-items: end;
            padding: 1rem;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 0.2rem;


            // border: 1px solid aqua
        }

        .item__container{
            display: flex;
            align-items: center;
            justify-content: start;
            width: 10rem;
            gap: 1rem;
            padding: 0.5rem;

            .__icon{
                fill: $primary-colorete;
            }
        }
    }
}

.pjx{
    margin-top: 10rem;
    height: 100%;
    width: 100%;

    h1{
        margin-bottom: 2rem;
    }

    // border: 1px solid orange;
}

.proyek__ct{
    display: grid;
    place-items: start;
    padding: 0 2rem;

}

.proyek__ins{

    display: grid;
    padding: 1rem;
    width: 88%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;

    // border: 1px solid aqua;

}

.crd__ctx{
    padding: 0.8rem;
    border-radius: 5px;
    background: #3d485e;

    // border: 1px solid aqua;

    h1{
        font-size: 1.3rem;
        margin-bottom: 1rem;
        color: $primary-colorete;
    }

    p{
        font-size: 0.8rem;
        margin-bottom: 1rem;

    }

    .img__ctx{
        display: grid;
        place-items: center;
        margin-bottom: 1rem;

        border-radius: 10px;
        overflow: hidden;

        img{
            width: 100%;
            object-fit: contain;
        }

    }

    .__tags span{
        display: inline-block;
        border-radius: 2px;
        font-size: 0.8rem;
        padding: 2px;
        color: $primary-colorete;

        margin-left: 0.5rem;
    }

}

.blogs{
    height: 100%;
    margin-top: 5rem;

    h1{
        margin-bottom: 2rem;
    }
}

.bl__ct{
    width: 100%;
    padding: 0 5rem;
}

.bl__ctx{
    margin-bottom: 2rem;
    line-height: 1.4rem;

    a{
        font-size: 1rem;
        text-decoration: none;
        font-weight: 600;

        &:hover{
            color: $primary-colorete;

        }
    }

    p{
        font-size: 0.8rem;
    }

    span{
        font-size: 0.7rem;
    }
}

.contact{  

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 400px;

    // border: 1px solid crimson;

    a{
        color: $primary-colorete;
        cursor: pointer;
        text-decoration: none;
    }

    .ctx__btn{
        @extend %btn;
        font-size: 0.8rem;
    }
}

footer{
    font-size: 0.8rem;
    text-align: center;
}


// @import 'mobilescreen';
