@media screen and (max-width: 1292px) {
    .main{
        flex-direction: column;
        position: relative;
    }

    .int__{
        width: 100%;
    }
    .in__{
        width: 100%;
        position: unset;
        padding: 0;

    }

    .hd__default{
        padding: 0.5rem;
    }

    header {
        position: absolute;
        top: 0;
        padding: 0;

        a{
            margin-right: 0;
        }

        .hd__links{
            display: none;
        }

        .sw__links{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            opacity: 0.9;
            overflow: hidden;
            background: black;

            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            a{
                font-size: 1.5rem;
            }
        }

        button{
            z-index: 2;
        }

        .header__menu{
            display: block;
            // font-size: 2rem;
        }
    }

    .eve{
        padding: 0;

    }

    .ev{
        width: 100%;
        padding: 0;
    }
    

    .ab{
        width: 100%;
    }

    .__abc{
        margin-top: 4rem;
        padding: 1rem;
        .__stack{
            .__item{
                width: 100%;
                place-items: center;
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            }
    
            .item__container{
                width: fit-content;
            }
        }
    }

    .pjx{
        margin-top: 4rem; 
    }
    
    .proyek__ct{
        padding: 1rem 1rem;
        width: 100%;
    }
    
    .proyek__ins{
    
        place-items: start;
        padding: 0;
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .bl__ct{
        padding: 0 1rem;
    }
    

}


