@media screen and (max-width: 1194px) {
    .main{
        flex-direction: column;
        position: relative;
    }

    .int__{
        width: 100%;
    }
    .in__{
        width: 100%;
        position: unset;
        padding: 0;

    }

    .hd__default{
        padding: 0.5rem;
    }

    header {
        position: fixed;
        top: 0;
        padding: 0;

        a{
            margin-right: 0;
        }

        .hd__links{
            display: none;
        }

        .sw__links{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            opacity: 0.9;
            overflow: hidden;
            background: $intro-default-bg;

            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            a{
                font-size: 1.5rem;
            }
        }

        .toggleMenu{
            z-index: 2;
            display: flex;
            place-items: center;
            text-align: center;
            background: none;
            padding: 0.5rem;
            font-size: 1.5rem;
            cursor: pointer;
            border-radius: 5px;
            border: none;
            transition: ease-in 0.1s;
            
            *{
                color: $primary-colorete;
            }
        
            &:active{
                    border: 2px solid $primary-colorete;
            }
            &:hover{
                    color: $primary-colorete;
            }
        }

        .header__menu{
            display: block;
        }
    }

    .eve{
        padding: 0;
    }

    .ev{
        width: 100%;
        padding: 0;
    }

    .ab{
        width: 100%;
        margin-top: 4rem;
        // padding-left: 10rem;
    }

    .__abc{
        padding: 1rem;
        margin-left: 0;

    }

    .item__container{
        width: fit-content;
    }

    .__item{
        width: 100%;
        place-items: center;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .pjx{
        margin-top: 4rem; 
    }
    
    .proyek__ct{
        padding: 1rem 1rem;
        width: 100%;
    }
    
    .proyek__ins{
    
        place-items: start;
        padding: 0;
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .bl__ct{
        padding: 0 1rem;
    }
    

}

@media screen and (max-width: 764px) {
    .__item{
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}



