@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');


@import './colors/colors';
@import 'fonts';


@import 'button';
@import 'theme';
@import 'scrollbar';
@import 'movesideHeader';
@import 'preloader';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $default-color;
    font-family: $main-font;
}

html{
    scroll-behavior: smooth;
}

span{
    display: block;
}


.main{
    display: flex;
    height: 100%;
    justify-content: space-between;

    background: $every-default-bg;

}

.mn__preloader{
    display: flex;
    justify-content: center;
    align-items: center;
    background: $intro-default-bg;
    height: 100vh;
    width: 100%;
}

.text__appealing{
    color: $primary-color;
    display: unset;
}


.int__{
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    height: 100vh;
    width: 40rem;
}

.in__{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 28rem;
    padding: 1rem;
    color: $default-color;

    background: $intro-default-bg;


    &inside{
        -webkit-animation: bounce-in-left 1.1s both;
        animation: bounce-in-left 1.1s both;

        @import 'animation';
        
        width: 100%;
        display: grid;
        place-items: start;
        padding: 1rem ;

        .__determine{
            color: $secondary-color;
        }
        .__btn{
            @extend %btn;
        }
          
    }

    &inside > *{
        margin-bottom: 0.8rem;
    }

    &socials{

        width: 15rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem;

    
        .__icons{
            font-size: 1.5rem;
            cursor: pointer;

            :hover{
                transition: all ease-in 0.1s;
                color: $primary-color;
            }
        }
    }
}

@import 'everything';
@import 'mobilescreen';