@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');


@import './colors/colors';
@import 'fonts';


@import 'button';
@import 'global';
@import 'theme';
@import 'scrollbar';
@import 'movesideHeader';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $default-color;
    font-family: $main-font;
}

html{
    scroll-behavior: smooth;
}

span{
    display: block;
}


.main{
    display: flex;
    height: 100%;
    justify-content: space-between;
    background: $main-dark-background;
}

.text__appealing{
    color: $primary-color;
    display: unset;
}


.int__{
    // position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    height: 100vh;
    width: 40rem;
    
    border: 1px solid yellow;


}

.in__{

    position: fixed;
    left: 0;
    top: 0;
    height: 100%;

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 28rem;
    padding: 1rem;
    background: #2D2A32;

    // border: 1px solid orange;

    &inside{
        width: 100%;
        display: grid;
        place-items: start;
        padding: 1rem ;

        // border: 1px solid pink;

        .__determine{
            color: $secondary-color;
        }
        .__btn{
            @extend %btn;
        }
    }

    &inside > *{
        margin-bottom: 0.8rem;
    }

    &socials{

        width: 15rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem;

        // border: 1px solid orange;
    
        .__icons{
            font-size: 1.5rem;
            cursor: pointer;

            :hover{
                color: $primary-color;
            }
        }
    }
}

@import 'everything';
@import 'mobilescreen';