@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
#dark-mode .ctx__btn, .in__inside .__btn, .contact .ctx__btn {
  border: 3px solid #DDD92A;
  border-radius: 4px;
  text-align: center;
  padding: 10px;
  width: 10rem;
  height: 3rem;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500 !important;
  cursor: pointer;
  background: none;
  -webkit-box-shadow: inset 0 0 0 0 #DDD92A;
          box-shadow: inset 0 0 0 0 #DDD92A;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
  margin: 0.5rem 0;
  text-decoration: none;
}

#dark-mode .ctx__btn:hover, .in__inside .__btn:hover, .contact .ctx__btn:hover {
  color: black;
  -webkit-box-shadow: inset 10rem 0 0 0 #DDD92A;
          box-shadow: inset 10rem 0 0 0 #DDD92A;
  cursor: pointer;
}

#light-mode {
  background: #fafffdd7;
}

#light-mode .int__ * {
  color: #F9FFFD;
}

#light-mode .int__ span {
  color: #DDD92A;
}

#light-mode .int__ .__icons :hover {
  color: #DDD92A;
}

#light-mode .int__ .in__ {
  background: #4b4653;
}

#light-mode .eve {
  background-color: #fafffdd7;
}

#light-mode .eve * {
  color: #2D2A32;
}

#light-mode .eve span {
  color: #DDD92A;
}

#light-mode .eve .__icons :hover {
  color: #DDD92A;
}

#light-mode .eve .__icon {
  fill: #DDD92A;
}

#light-mode .eve .crd__ctx {
  background: #4b4653;
}

#light-mode .eve .crd__ctx * {
  color: #F9FFFD;
}

#light-mode .eve .crd__ctx span {
  color: #DDD92A;
}

#light-mode a:hover {
  color: #DDD92A;
}

#dark-mode .ctx__btn {
  font-size: 0.8rem;
  border-color: #A1FF85;
  -webkit-box-shadow: inset 0 0 0 0 #A1FF85;
          box-shadow: inset 0 0 0 0 #A1FF85;
}

#dark-mode .ctx__btn:hover {
  -webkit-box-shadow: inset 10rem 0 0 0 #A1FF85;
          box-shadow: inset 10rem 0 0 0 #A1FF85;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #22272e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #e67a00;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8f4f06;
}

.hd__default {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.hd__side {
  -webkit-animation: bounceIn;
          animation: bounceIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  width: 8rem;
  height: 100%;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 4rem 1rem;
}

.hd__side a {
  margin-bottom: 1rem;
}

.hd__side .hd__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sp__ctx {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 400px;
}

.spinner {
  position: relative;
  width: 56px;
  height: 56px;
  -webkit-animation: spinner-xza56z 2s infinite linear;
          animation: spinner-xza56z 2s infinite linear;
}

.spinner::before,
.spinner::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background: #DDD92A;
  border-radius: 50%;
  -webkit-animation: spinner-lqsq3g 1.25s infinite ease;
          animation: spinner-lqsq3g 1.25s infinite ease;
}

.spinner::before {
  height: 75%;
  width: 75%;
  -webkit-transform-origin: -40% -80%;
          transform-origin: -40% -80%;
}

.spinner::after {
  height: 50%;
  width: 50%;
  -webkit-transform-origin: 40% 80%;
          transform-origin: 40% 80%;
}

@-webkit-keyframes spinner-xza56z {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner-xza56z {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes spinner-lqsq3g {
  0%, 100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
}

@keyframes spinner-lqsq3g {
  0%, 100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #F9FFFD;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

span {
  display: block;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #364156;
}

.mn__preloader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2D2A32;
  height: 100vh;
  width: 100%;
}

.text__appealing {
  color: #DDD92A;
  display: unset;
}

.int__ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  height: 100vh;
  width: 40rem;
}

.in__ {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 28rem;
  padding: 1rem;
  color: #F9FFFD;
  background: #2D2A32;
}

.in__inside {
  -webkit-animation: bounceInLeft;
          animation: bounceInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: start;
  padding: 1rem;
}

.in__inside .__determine {
  color: #EAE151;
}

.in__inside > * {
  margin-bottom: 0.8rem;
}

.in__socials {
  width: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

.in__socials .__icons {
  font-size: 1.5rem;
  cursor: pointer;
}

.in__socials .__icons :hover {
  -webkit-transition: all ease-in 0.1s;
  transition: all ease-in 0.1s;
  color: #DDD92A;
}

.eve {
  padding: 0 2rem;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  background-color: #364156;
}

.eve .text__appealing {
  color: #A1FF85;
  display: unset;
}

.ev {
  width: 90%;
  padding: 1rem;
}

header {
  width: 100%;
  height: 4rem;
}

header a {
  margin-right: 2rem;
  text-decoration: none;
  font-size: 0.8rem;
}

header a:hover {
  color: #A1FF85;
}

header .toggleMenu {
  display: none;
}

header .toggleButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  text-align: center;
  background: none;
  padding: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  -webkit-transition: ease-in 0.1s;
  transition: ease-in 0.1s;
}

header .toggleButton:active {
  border: 2px solid #A1FF85;
}

header .toggleButton:hover {
  color: #A1FF85;
}

.ab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  margin-top: 7rem;
}

.__abc {
  margin-top: 2rem;
}

.__abc h1 {
  margin-bottom: 2rem;
}

.__stack {
  margin-top: 2rem;
  padding: 1rem 0;
}

.__stack h3 {
  text-align: start !important;
}

.item__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 10rem;
  gap: 1rem;
  padding: 0.5rem;
}

.item__container .__icon {
  fill: #A1FF85;
}

.__item {
  width: 80%;
  display: -ms-grid;
  display: grid;
  place-items: end;
  padding: 1rem;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0.2rem;
}

.pjx {
  margin-top: 10rem;
  height: 100%;
  width: 100%;
}

.pjx h1 {
  margin-bottom: 2rem;
}

.pjx a {
  display: -ms-grid;
  display: grid;
  place-items: end;
  text-align: end;
  text-decoration: none;
  font-size: 0.8rem;
  padding: 0 1rem;
  color: #A1FF85;
}

.proyek__ct {
  display: -ms-grid;
  display: grid;
  place-items: start;
  padding: 0 2rem;
}

.proyek__ins {
  display: -ms-grid;
  display: grid;
  padding: 1rem;
  width: 88%;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.crd__ctx {
  padding: 0.8rem;
  border-radius: 5px;
  background: #45536e;
}

.crd__ctx h1 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: #A1FF85;
}

.crd__ctx p {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.crd__ctx .img__ctx {
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin-bottom: 1rem;
  border-radius: 10px;
  overflow: hidden;
}

.crd__ctx .img__ctx img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.crd__ctx .__tags span {
  display: inline-block;
  border-radius: 2px;
  font-size: 0.8rem;
  padding: 2px;
  color: #A1FF85;
  margin-left: 0.5rem;
}

.blogs {
  height: 100%;
  margin-top: 5rem;
}

.blogs h1 {
  text-align: start !important;
  margin-bottom: 2rem;
}

.bl__ct {
  width: 100%;
  padding: 0 5rem;
}

.bl__ctx {
  margin-bottom: 2rem;
  line-height: 1.4rem;
}

.bl__ctx a {
  font-size: 1rem;
  text-decoration: none;
  font-weight: 600;
}

.bl__ctx a:hover {
  color: #A1FF85;
}

.bl__ctx p {
  font-size: 0.8rem;
}

.bl__ctx span {
  font-size: 0.7rem;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 400px;
}

.contact a {
  color: #A1FF85;
  cursor: pointer;
  text-decoration: none;
}

.contact .ctx__btn {
  font-size: 0.8rem;
}

footer {
  font-size: 0.8rem;
  text-align: center;
}

@media screen and (max-width: 1194px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .int__ {
    width: 100%;
  }
  .in__ {
    width: 100%;
    position: unset;
    padding: 0;
  }
  .hd__default {
    padding: 0.5rem;
  }
  header {
    position: fixed;
    top: 0;
    padding: 0;
  }
  header a {
    margin-right: 0;
  }
  header .hd__links {
    display: none;
  }
  header .sw__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    opacity: 0.9;
    overflow: hidden;
    background: #2D2A32;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  header .sw__links a {
    font-size: 1.5rem;
  }
  header .toggleMenu {
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-items: center;
    text-align: center;
    background: none;
    padding: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    -webkit-transition: ease-in 0.1s;
    transition: ease-in 0.1s;
  }
  header .toggleMenu:active {
    border: 2px solid #A1FF85;
  }
  header .toggleMenu:hover {
    color: #A1FF85;
  }
  header .header__menu {
    display: block;
  }
  .eve {
    padding: 0;
  }
  .ev {
    width: 100%;
    padding: 0;
  }
  .ab {
    width: 100%;
    margin-top: 4rem;
  }
  .__abc {
    padding: 1rem;
  }
  .item__container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .__item {
    width: 100%;
    place-items: center;
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .pjx {
    margin-top: 4rem;
  }
  .proyek__ct {
    padding: 1rem 1rem;
    width: 100%;
  }
  .proyek__ins {
    place-items: start;
    padding: 0;
    width: 100%;
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .bl__ct {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 764px) {
  .__item {
    -ms-grid-columns: (minmax(100px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}
/*# sourceMappingURL=style.css.map */