// main dark mode background color 
$main-dark-background: #364156;
// $main-dark-background: #2D2A32;


// main light mode background color  
$main-light-background: #FFFAFF;

$main-light-color: #2D2A32;

// primary color 
$primary-colorete: #A1FF85;
$primary-color: #DDD92A;

//secondary color#C4FFB2
// $secondary-color: #C4FFB2;

$secondary-color: #EAE151;


// default color 
$default-color: #F9FFFD;


// project card background color
$project-background-dark: #35323afd;

$project-background-light: hsl(264, 28%, 91%);

