// default bg 
$intro-default-bg: #2D2A32;
$every-default-bg: #364156;


//default text color
$default-color: #F9FFFD;

// opposite bg 
$every-opp-bg: #fafffdd7;
$intro-opp-bg: hsl(263, 9%, 30%);

$default-opp: #2D2A32;

// primary color 
$primary-colorete: #A1FF85;
$primary-color: #DDD92A;
$secondary-color: #EAE151;

// project card background color
$project-background-dark: hsl(219, 23%, 35%);
$project-background-light: hsl(263, 9%, 30%);



// light 
// #FAFFFD

// main dark mode background color 
// $main-dark-background: #364156;
// $main-dark-background: #2D2A32;

// main light mode background color  
// $main-light-background: #FFFAFF;

// $main-light-color: #2D2A32;



//secondary color#C4FFB2
// $secondary-color: #C4FFB2;





